---
layout: single
author_profile: true
type: grid
---

<!-- <div style="text-align: center;"> -->
<!--   <p>Check out our new project on <a href="/ahsoka/" style="font-size: 24px; color: #0074cc; text-decoration: none;">Anticipate & Act!</a></p> -->
<!-- </div> -->
<!-- <br> -->
<!-- <\!-- <center> -->
<!-- <img src="images\walle.jpg" alt="Website under construction" width="25%" height="25%"> -->
<!-- </center>> -->

<p>
  I am a Graduate Student at University of Texas at Austin in Electrical and Computer Engineering. 
  I was previously a Research Engineer at <a href="https://robotics.iiit.ac.in/" style="color: #0074cc; text-decoration: none;">Robotics Research Center</a>, IIIT Hyderabad advised by Prof. <a href="https://faculty.iiit.ac.in/~mkrishna/" style="color: #0074cc;">K Madhava Krishna</a>, <a href="https://www.cs.bham.ac.uk/~sridharm" style="color: #0074cc;">Dr. Mohan Sridharan</a>, and <a href="https://krrish94.github.io/" style="color: #0074cc;">Dr. Krishna Murthy</a>. Previously, I was working with <a href="https://www.uni.lu/en/person/NTAwMDk1OTZfX0FsZXhhbmRyZSBUS0FUQ0hFTktP/" style="color: #0074cc;">Prof. Alexandre Tkatchenko</a> at University of Luxembourg on using Deep Learning techniques for molecular property prediction. 
  
  My research includes the use of AI for solving real-world problems, which often involves interdisciplinary research. My current research interests include TAMP, and generating robust representations for domains which leads to Out-Of-Distribution generalization in robotic models.
</p>

<!-- News Section -->
<h2 class="archive__subtitle">News</h2>
<ul>
  <li>
    <p><strong>07/2025:</strong> I am participating in the <a href="https://athome.robocup.org/" style="color: #0074cc; text-decoration: none;">RoboCup@Home</a> competition 2025 in Salvador, Brazil, as a member of the <a href="https://www.cs.utexas.edu/~AustinVilla/athome/" style="color: #0074cc; text-decoration: none;">UT Austin Villa</a> team.</p>
  </li>
  <li>
    <p><strong>05/2024:</strong> I presented our work on <a href="https://raraghavarora.github.io/ahsoka/" style="color: #0074cc; text-decoration: none;">Anticipate & Act</a>, and <a href="https://dataplan-hrc.github.io/" style="color: #0074cc; text-decoration: none;"> DataPlan </a> at IEEE-ICRA 2024 in Yokohama, Japan. </p>
  </li>
  <li>
    <p><strong>03/2024:</strong> I am serving as a reviewer for <a href="https://iros2024-abudhabi.org/" style="color: #0074cc; text-decoration: none;">IEEE IROS 2024</a>, and <a href="https://www.ro-man2024.org/" style="text-decoration: none;">IEEE ROMAN 2024</a>. </p>
  </li>
  <li>
    <p><strong>02/2024:</strong> We submitted our project: <a href="https://dataplan-hrc.github.io/" style="color: #0074cc; text-decoration: none;"> Anticipate & Collab </a> IROS 2024. </p>
  </li>

  <li>
    <p><strong>01/2024:</strong> Our project on Anticipation based Task Planning was accepted to ICRA 2024. </p>
  </li>
  <li>
    <strong>01/2024:</strong> I am serving as a reviewer for <a href="https://aclrollingreview.org/" style="color: #0074cc; text-decoration: none;">ACL 2024</a>, and <a href="https://lrec-coling-2024.org/" style="color: #0074cc; text-decoration: none"> LREC 2024</a>.
  </li>
  <li>
    <p><strong>09/2023:</strong> Submitted our project on Task Anticipation to ICRA 2024. </p>
  </li>
  <li>
    <p><strong>09/2023:</strong> Made our submission for the multiple-choice vQA test at the <a href="https://github.com/google-deepmind/perception_test" style="color: #0074cc; text-decoration: none;">Deepmind Perception Challenge</a> </p>
  </li>
  <li>
    <p><strong>08/2023:</strong> I presented our work on <a href="https://clipgraphs.github.io/" style="color: #0074cc; text-decoration: none;">CLIPGraphs </a> at <a href="http://ro-man2023.org/" style="color: #0074cc; text-decoration: none;">IEEE RO-MAN 2023</a>. </p>
  </li>
  <li>
    <p><strong>06/2023:</strong> I presented our work on <a href="https://clipgraphs.github.io/" style="color: #0074cc; text-decoration: none;">CLIPGraphs</a> at the <a href="https://www.eeml.eu/" style="color: #0074cc; text-decoration: none;" >EEML Summer School</a> and at the <a href="https://microsoft.github.io/robotics.pretraining.workshop.icra/" style="color: #0074cc; text-decoration: none;" >Pretraining for Robotics</a> workshop at ICRA 2023</p>
  </li>
  <li>
    <p><strong>07/2022:</strong> Graduated from BITS Pilani, with B.E Electrical and Electronics Engineering and M.Sc. Chemistry.</p>
  </li>
  <li>
    <p><strong>05/2022:</strong> I defended my <a href="https://raraghavarora.github.io/PDFs/thesis.pdf" style="color: #0074cc; text-decoration: none;">Masters' thesis</a> under the supervision of <a href="https://www.uni.lu/en/person/NTAwMDk1OTZfX0FsZXhhbmRyZSBUS0FUQ0hFTktP/" style="color: #0074cc;">Prof. Alexandre Tkatchenko</a> and <a href="https://www.bits-pilani.ac.in/pilani/ram-kinkar-roy/" style="color: #0074cc;"> Prof. Ram Kinkar Roy</a> </p>
  </li>
</ul>
<!--

<h3 class="archive__subtitle">Projects</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type="grid"%}
{% endfor %}

{% include paginator.html %} -->
