---
layout: archive
author_profile: true
type: grid
---

<div style="text-align: center;">
  <p>Check out our project on <a href="https://raraghavarora.github.io/ahsoka/" style="font-size: 24px; color: #0074cc; text-decoration: none;">Anticipate & Act</a>!</p>
</div>
<br>
<center>
  <img src="images\walle.jpg" alt="Website under construction" width="50%" height="50%">
</center>
<!-- 
{% include base_path %}

<h3 class="archive__subtitle">Projects</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type="grid"%}
{% endfor %}

{% include paginator.html %} -->